<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <header class="main-header">
    <div class="main-logo">
      <img class="img-logo" src="../assets/images/logo.png" alt="">
    </div>
    <div class="main-menu">
      <ul class="menu-list">
        <li>
          <a href="#">FORTS</a>
        </li>
        <li>
          <a href="#">TEMPLES</a>
        </li>
        <li>
          <a href="#">FESTIVALS</a>
        </li>
        <li>
          <a href="#">EXPLORE</a>
        </li>
        <li>
          <a href="#">CONTACT</a>
        </li>
      </ul>
    </div>
    <div class="main-heading">
      <span class="main-title">Rajasthan</span>
      <br>
      <span class="sub-title">Padharo Mhare Desh !!!</span>
      <div class="main-button">
        <a class="my-btn" href="">Discover</a>
        <a class="my-btn" href="">Gallery</a>
      </div>
    </div>
  </header>
</body>
</html>